# Choose your camera provider (rtsp or http)
CAMERA_PROVIDER=rtsp

# Your local OctoStream or IP Camera URL
CAMERA_RTSP_URL=rtsp://192.168.0.164:8081/video
# OR for iPhone OctoStream usually something like rtsp://192.168.x.x:port/

CAMERA_FPS=10
CAMERA_WIDTH=1280
CAMERA_HEIGHT=720
